@media screen and (max-width: 2775px){

    main section .block-achivment{
        row-gap: 60px;
    }


    main section.about .card-people{
        grid-template-columns: repeat(4, 1fr);
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 2175px){

    main section .block-achivment{
        row-gap: 60px;
    }


    main section.about .card-people{
        grid-template-columns: repeat(4, 1fr);
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 10vh;
        justify-items: center;
    }
}
@media screen and (max-width: 1775px){
    section{
        margin: 0;
    }

    main section .block-achivment{
        row-gap: 60px;
    }


    main section.about .card-people{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%;
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10vh;
        justify-items: center;
    }
}


@media screen and (max-width: 1075px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%; 
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 975px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%; 
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 875px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%; 
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 775px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%; 
        padding-top: 10vh;
        column-gap: 60px;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 675px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 575px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 475px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 375px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 200px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}

@media screen and (max-width: 100px){
    section{
        margin: 0;
    }

    header section nav ul{
        display: none;
    }

    main section .block-achivment{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .sub_about{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section.about .card-people{
        grid-template-columns: 1fr;
        row-gap: 60px;
    }

    main section .text ul{
        margin: 0;
    }

    main section.work .work-card{
        padding: 0;
        margin: 0;
        grid-template-columns: 1fr;
        padding-top: 10vh;
        justify-items: center;
    }
}





